[Unit]
Description=loginSystem start up?
After=mysqld.service apache2.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=kevin
ExecStart= /home/kevin/git/IT490Comic/backend/loginServer.php

[Install]
WantedBy=multi-user.target
